APP_NAME=TerresFertilesAPI
APP_ENV=production
APP_KEY=base64:M6vfoF48uIdOGrQSZQhEsv7MwBcj34K6WluRlZ/gJeQ=
APP_DEBUG=false
APP_URL=https://api.terres-fertiles.com

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr

LOG_CHANNEL=stack
LOG_LEVEL=error

# =========================
# DATABASE (OVH)
# =========================
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=terres_fertiles
DB_USERNAME=ismael_admin
DB_PASSWORD=sacko&diabyismael

# =========================
# SESSION / CACHE / QUEUE
# =========================
SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database
QUEUE_CONNECTION=database

# =========================
# REDIS (optionnel)
# =========================
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=null

# =========================
# MAIL (à configurer plus tard)
# =========================
MAIL_MAILER=log
MAIL_FROM_ADDRESS=no-reply@terres-fertiles.com
MAIL_FROM_NAME="${APP_NAME}"

# =========================
# PAYDUNYA (Ngoni Pay)
# ⚠️ SANDBOX → PROD PLUS TARD
# =========================
PAYDUNYA_BASE_URL=https://app.paydunya.com/sandbox-api
PAYDUNYA_MASTER_KEY=SoOzrjTN-vwU5-Zt4H-FoHH-IvxwAyAfyuw3
PAYDUNYA_PUBLIC_KEY=test_public_5SFaTJ8oT0Uk5kHdW1H8NpHs7jS
PAYDUNYA_PRIVATE_KEY=test_private_05KwrU8kLMUv8lbYiSS0cKyJlBR
PAYDUNYA_TOKEN=O6yBwVgt3lbJj7oEza68
PAYDUNYA_WEBHOOK_SECRET=

VITE_APP_NAME="${APP_NAME}"
